@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --white: #F0F0F0;
    --black: #000000;
    --lightblack: #5E5A5A;
    --darkwhite: #52D7BF;
    --lightwhite: #E5E5E5;
    --darkbshadow: #FAFAFA;
    --lightbshadow: #969696;
    --darkbshadow: #BCBCBC;
    --lightgray: #A8A8A8;
    --red: #EB5757;
    --gray: #828282;
    --lemongreen:#00FF47;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
}

.wrapper {
    width: 380px;
    padding: 25px 30px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    background-image: linear-gradient(#2E517C, #474A6D, #3D0000);
    box-shadow: 0px 6px 15px var(--lightbshadow);
}

.wrapper i {
    cursor: pointer;
    color: var(--white);
}

.top-bar,.plist, .song-duration,.controls,.headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar span {
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
}

.img-area {
    margin-top: 25px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#l1{
    height: 256px;
    width: 256px;      
    background: url(/images/music-1.jpg); 
    background-size: 256px 256px; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all 1s ease-in; 
}

#l2{
    height: 128px;
    width: 128px;   
    background: url(/images/music-1.jpg); 
    background-size: 256px 256px; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all 1s ease-in; 
}
#l3{
    height: 64px;
    width: 64px;   
    background: url(/images/music-1.jpg); 
    background-size: 256px 256px; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all 1s ease-in; 
}
/* .backgrnd{
    
} */
/* .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
} */

.song-details {
    margin-top: 10px;
    margin-left: 10px;
}

.song-details p {
    color: var(--lemongreen);
    font-size: 16px;

}

.song-details p:first-child {
    font-size: 26px;
    font-weight: 600;
    color: var(--lemongreen);
}

/* 
.volume {
    position: absolute;
    background: linear-gradient(#2E517C, #474A6D, #3D0000);
    height: 256px;
    border-radius: 40px;
    padding: 20px;
    right: -55%;
    top:75px;
    transition: all 0.15s ease-in-out;
}

.volumeshow {
    right: 5%;
    opacity: 1;
    pointer-events: auto;
} */



.volume-area {
    height: 300px;
    width: 300px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--lightblack); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
}

.volume-bar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index:5;
    background: var(--lemongreen);
}

.voulme-bar::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    right: 50%;
    z-index: 2;
    pointer-events: none;
    transform: translate(-50%);  
    background: var(--lemongreen);
}

.volume-area:hover .volume-bar::after {
    opacity: 1;
    pointer-events: auto;
}



.progress-area {
    margin-top: 15px;
    height: 5px;
    cursor: pointer;
    border-radius: 50px;
    background: var(--lightblack);
}

.progress-bar {
    height: 100%;
    width: 0%;
    border-radius: inherit;
    position: relative;
    background: var(--lemongreen)
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.song-duration {
    color: var(--white);
    font-size: 14px;
    margin-top: 2px;
}

.plist {
    margin-top: 30px;

}

.plist .music-queue {
    background: #ffffff13;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.music-queue i,
.favorites i {
    color: var(--gray);
}

.favorites:hover i {
    color: var(--lemongreen);
}

.controls {
    margin: 30px 3px 5px 8px;

}

.controls i {
    font-size: 28px;
    user-select: none;
}

#prev,
#next {
    background: #96969631;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

#prev {
    margin-right: -13px;
}

#next {
    margin-left: -13px;
}

#repeat,
#shuffle {
    color: var(--lightgray);
    font-size: 25px;
}

.play-pause {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--lemongreen);
    cursor: pointer;
}

.play-pause i {
    color: var(--white);
    position: absolute;
    user-select: none;
}

.music-list {
    position: absolute;
    background: linear-gradient(#2E517C, #474A6D, #3D0000);
    width: 100%;
    border-radius: 40px;
    padding: 15px 30px;
    color: var(--white);
    z-index: 5;
    left: 0;
    bottom:-55%;
    transition: all 0.15s ease-out;
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.headings .row{
    display: flex;
    align-items: center;
    font-size: 19px;
}
.headings .row i{
    cursor: default; 
    font-size: 22px;
}

.headings .row span {
    margin-left: 5px;
}


.headings #close {
    font-size: 22px;
}

.music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--lightgray);
    margin-bottom: 5px;
}
.music-list ul li:last-child{
    border-bottom: 0px;
  }
  .music-list ul li .row span{
    font-size: 17px;
  }
  .music-list ul li .row p{
    opacity: 0.9;
  }
  ul li .audio-duration{
    font-size: 16px;
  }
  /* ul li.playing{
    pointer-events: none;
    color: var(--violet);
  } */